<%- include("header"); -%>

<div class="container">
  <div class="row">
    <div class="col block">
      <h1 class="kanji-heading"><span class="badge shadow radical-heading-span"><%= radical %></span></h1>
      <h5> <%="Meaning: " + kanjiInfo.meaning %> </h5>
      <h5> <%= "On Reading: " + kanjiInfo.onyomi %> </h5>
      <h5> <%= "Kun Reading: " + kanjiInfo.kunyomi %> </h5>
      <h5> <%= "jlpt Level: " + kanjiInfo.jlptLevel %> </h5>
      <h5>Radicals:</h5>
      <div class="">
        <% if (kanjiInfo.radical !== "" && kanjiInfo.radical !== radical) { %>
          <a href="<%= "/radical/" + kanjiInfo.radical %>" class="btn btn-outline-dark radical-button"> <%= kanjiInfo.radical %></a>
        <% } %>
        <% kanjiInfo.parts.forEach(function (part) { %>
          <% if (part !== radical) { %>
            <a href="<%= "/radical/" + part %>" class="btn btn-outline-dark radical-button"> <%= part %></a>
            <% } %>
        <% }); %>
      </div>
      <br>
      <a href=" <%="https://www.wanikani.com/kanji/" + radical  %>">This Radical on WaniKani</a>
      <br>
      <a href="<%= "https://jisho.org/search/"+ radical + "20%23kanji" %>">This Radical on Jisho</a>

    </div>
    <div class="col block">

    </div>
  </div>
</div>



<%- include("footer"); -%>
